/* the game canvas */
canvas {
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* mute button */
#mute img {
	width: 16px;
	height: 16px;
}

/* HTML elements overlayed on top of game canvas */
#overlayed {
	position: absolute;
	z-index: 1;
	top: 600px;
	left: 225px;
	right: 225px;
	bottom: 0;
	width: 200px;
	height: 25px;
	margin: auto;
	/*background-color: green;*/
}

/* the question p element */
#question {
	display: inline;
}