canvas {
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#mute img {
	width: 16px;
	height: 16px;
}